CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vs
CMakeSettings.json
cpp.hint
out/
Folder.DotSettings.user
build/
.vscode/
.idea/
cmake-build-debug*
build
*.egg-info
dist
pyshosu.cpython*